html, body {
  height: 100%;
}

#root {
  height: 100%;
}

.app {
  display: flex;
  height: 100%;
}

.question-viewer {
  flex: 1;
  overflow-y: scroll;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  line-height: 30px;
  letter-spacing: 0.5px;
  white-space: pre-line;
}

.question-viewer-eol {
  font-family: "Visitor";
}

.workspace {
  display: flex;
  flex-direction: column;
  flex: 3;
  width: 0px; /* For some reason this prevents editor from overflowing */
}

.game-wrapper {
  font-family: "Visitor";
  background-color: black;
  flex: 1;
  height: 0px; /* For some reason this prevents canvas from overflowing */
}

.code-editor {
  display: flex;
  flex-direction: column;
  flex: 2;
  height: 0px; /* For some reason this prevents editor from overflowing */
}

.result-viewer {
  position: relative;
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

.result-viewer-header {
  padding: 15px;
  background-color: #D3D3D3;
  color: white;
  box-shadow: 0px 0px 5px #C0C0C0;
  font-weight: bold;
  transition: background-color 1s;
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
}

.result-viewer-header.clear {
  background-color: #1BA94C;
}

.result-viewer-loading {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.result-viewer-loading-spinner {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.result-viewer-loading-spinner-icon {
  width: 5%;
}

.result-viewer-content-outer {
  background-color: #DCDCDC;
  padding: 10px;
}

.result-viewer-content {
  background-color: white;
  padding: 10px;
  border-radius: 3px;
}

.result-viewer-entry {
  display: flex;
  box-shadow: 0px 0px 5px #C0C0C0;
  padding: 5px 5px 15px 5px;
  margin-bottom: 10px;
  line-height: 30px;
  letter-spacing: 0.5px;
  border-radius: 3px;
}

.result-viewer-entry-content {
  flex: 1;
}

.result-viewer-entry-info {
  width: 5%;
}

.result-viewer-entry-icon {
  width: 100%;
}

.codemirror-editor {
  flex: 1;
  height: 0px; /* For some reason this prevents editor from overflowing */
}

.cm-editor {
  height: 100%;
}

.cm-scroller {
  overflow-y: scroll;
}

.sample-box {
  font-size: smaller;
  background-color: #e7eeef;
  padding: 15px 10px 15px 10px;
  border-radius: 5px;
}

.code-editor-button-group {
  
}

.link-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  border-bottom: 1px solid #D3D3D3;
}

.link-content {
  width: 30%;
}

.link-img {
  width: 100%;
}

.button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0px 0px 2px #C0C0C0;
}

.button.run {
  background-color: white;
}

.button.submit {
  background-color: #1BA94C;
  color: white;
}

.button.next {
  background-color: red;
  color: white;
}

.button:disabled {
  opacity: 0.25;
}